[submodule "minikube-react"]
	path = minikube-react
	url = https://github.com/malik-devops/minikube-react
[submodule "minikube-django"]
	path = minikube-django
	url = https://github.com/malik-devops/minikube-django
[submodule "minikube-angular"]
	path = minikube-angular
	url = https://github.com/malik-devops/minikube-angular

[submodule "minkube-ionic"]
	path = minkube-ionic
	url = https://github.com/malik-devops/minikube-ionic
